.content-header h1>small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}
.form-group .control-label {
  text-align: right;
  line-height: 2;
}
