.navbar-nav>.user-menu .user-image {
  height: 30px !important;
  width: 30px !important;
}

.btn-outline-secondary:hover {
  color: #fff  !important;
  background-color:#6c757d !important;
  border-color: #6c757d !important;
}
